:root {
    // Colors
    --dark-grey: #333;
    --grey: #666;
    --light-grey: #d3cece;
    --blue: #a852e6;
    --light-blue: #b774e7;
    --lightest-blue: #e6cbfa;
    --dark-blue: #364051;
    --off-white: #f7f7f7;
    --white: #ffffff;
    --black: #000000;
    --side-bg-color: #364051;
    --danger: #ff0000;
    --error: #ff0000;
    // Font Size
    --font-size-large: 28px;
    --font-size-small: 22px;
    // Spacing
    --xs-size: 5px;
    --s-size: 10px;
    --m-size: 15px;
    --l-size: 18px;
    --xl-size: 20px;
    --desktop-breakpoint: 45rem;
}
