.Open {
    background-color: var(--lightest-blue);
    color: var(--white);
}

.Close {
    background-color: var(--blue);
}

.FieldsList {
    .Button {
        width: 100%;
        margin-bottom: 5px;
    }
}

.mat-expansion-panel-header {
    padding: 10px 24px;
    .mat-panel-title {
        font-size: 24px;
    }
}

.mat-expansion-panel {
    font-size: 18px;
    font-weight: 500;
}
// For scroll bars
::ng-deep {
    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        margin: 0px 2px;
        background: #eee;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--grey);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--grey);
    }
}
